/* utils */
white(a)
  rgba(255, 255, 255, a)

black(a)
  rgba(0, 0, 0, a)

rainbow-light = linear-gradient(to right, oklch(0.80 0.10 0), oklch(0.80 0.10 30), oklch(0.80 0.10 60), oklch(0.80 0.10 90), oklch(0.80 0.10 120), oklch(0.80 0.10 150), oklch(0.80 0.10 180), oklch(0.80 0.10 210), oklch(0.80 0.10 240), oklch(0.80 0.10 270), oklch(0.80 0.10 300), oklch(0.80 0.10 330), oklch(0.80 0.10 360))
rainbow-dark = linear-gradient(to right, oklch(0.70 0.10 0), oklch(0.70 0.10 30), oklch(0.70 0.10 60), oklch(0.70 0.10 90), oklch(0.70 0.10 120), oklch(0.70 0.10 150), oklch(0.70 0.10 180), oklch(0.70 0.10 210), oklch(0.70 0.10 240), oklch(0.70 0.10 270), oklch(0.70 0.10 300), oklch(0.70 0.10 330), oklch(0.70 0.10 360))

:root
  --radius-large 0.35rem
  --content-delay 100ms

/* An util to define variables that vary with light and dark mode */
define(vars)
  :root
    for key, value in vars
      {key}: value[0]
  :root.dark
    for key, value in vars
      if length(value) > 1
        {key}: value[1]

define({
  --primary: #76dfad #76dfad
  --page-bg: #151714 #151714
  --card-bg: #1c201c #1c201c

  --btn-content: #76dfad #76dfad

  --btn-regular-bg: #242a24 #242a24
  --btn-regular-bg-hover: #303831 #303831
  --btn-regular-bg-active: #3b473c #3b473c

  --btn-plain-bg-hover: #242a24 #242a24
  --btn-plain-bg-active: #303831 #303831

  --btn-card-bg-hover: #242a24 #242a24
  --btn-card-bg-active: #303831 #303831

  --enter-btn-bg: var(--btn-regular-bg)
  --enter-btn-bg-hover: var(--btn-regular-bg-hover)
  --enter-btn-bg-active: var(--btn-regular-bg-active)

  --deep-text: #f2eee4 #f2eee4

  --title-active: #76dfad #76dfad

  --line-divider: white(0.1) white(0.1)

  --line-color: white(0.12) white(0.12)
  --meta-divider: white(0.28) white(0.28)

  --inline-code-bg: var(--btn-regular-bg)
  --inline-code-color: var(--btn-content)
  --selection-bg: #365343 #365343
  --codeblock-selection: #365343 #365343
  --codeblock-bg: #111411 #111411
  --codeblock-topbar-bg: #242a24 #242a24

  --license-block-bg: black(0.03) var(--codeblock-bg)

  --link-underline: oklch(0.93 0.04 var(--hue)) oklch(0.40 0.08 var(--hue))
  --link-hover: oklch(0.95 0.025 var(--hue)) oklch(0.40 0.08 var(--hue))
  --link-active: oklch(0.90 0.05 var(--hue)) oklch(0.35 0.07 var(--hue))

  --float-panel-bg: #202520 #202520

  --scrollbar-bg-light: black(0.4)
  --scrollbar-bg-hover-light: black(0.5)
  --scrollbar-bg-active-light: black(0.6)

  --scrollbar-bg-dark: white(0.4)
  --scrollbar-bg-hover-dark: white(0.5)
  --scrollbar-bg-active-dark: white(0.6)

  --scrollbar-bg: var(--scrollbar-bg-light) var(--scrollbar-bg-dark)
  --scrollbar-bg-hover: var(--scrollbar-bg-hover-light) var(--scrollbar-bg-hover-dark)
  --scrollbar-bg-active: var(--scrollbar-bg-active-light) var(--scrollbar-bg-active-dark)

  --color-selection-bar: rainbow-light rainbow-dark

  --display-light-icon: 1 0
  --display-dark-icon: 0 1

  --admonitions-color-tip: oklch(0.7 0.14 180) oklch(0.75 0.14 180)
  --admonitions-color-note: oklch(0.7 0.14 250) oklch(0.75 0.14 250)
  --admonitions-color-important: oklch(0.7 0.14 310) oklch(0.75 0.14 310)
  --admonitions-color-warning: oklch(0.7 0.14 60) oklch(0.75 0.14 60)
  --admonitions-color-caution: oklch(0.6 0.2 25) oklch(0.65 0.2 25)

  --toc-badge-bg: oklch(0.89 0.050 var(--hue)) var(--btn-regular-bg)
  --toc-btn-hover: oklch(0.926 0.015 var(--hue)) oklch(0.22 0.02 var(--hue))
  --toc-btn-active: oklch(0.90 0.015 var(--hue)) oklch(0.25 0.02 var(--hue))
  --toc-width: calc((100vw - var(--page-width)) / 2 - 1rem)
  --toc-item-active: oklch(0.70 0.13 var(--hue)) oklch(0.35 0.07 var(--hue))
})
